@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans ';
}


@media screen and (min-width: 1920px) { 
    .topBar input {
      visibility: hidden;
    }
    .about {
      float: right;
      margin-right: 7.3%;
    }
    .about-us-main{
      padding-bottom: 9%;
      background-color: #FDF9F8;
    }
    .about-diabetes-gestational-li{
      width: 60%;
    }

    .about-us-paragraph{
      text-align: left;
      margin-left: 5%;
      margin-right: 5%;
    }

    .about-us-h1 {
      text-align: center;
      margin-top: 5%;
    }
    .topBar {
      float: right;
      width: 70%;
      position: absolute;
      left: 30%;
      bottom: 0px;
    
    }
    .about-diabetes {
      margin-left: 0;
    }
    .topBar ul{
        list-style-type: none;
        list-style: none;
    }
    .topBar ul a{
      font-weight: normal;
    }
    .topBar li{
        display: inline; 
    }

    .main {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .about-diabetes-paragraph ul{
      display: flex;
      list-style: none;
    }
    

    .topBar .about-us {
      margin-left: 18%;
    }
    
    .about-diabetes-paragraph ul li {
      font-size: xx-large;
    }
  
    .about-diabetes-paragraph {
      margin-top: 10%;
      margin-left: 8%;
      margin-right: 8%;
      width: 90%;
    }
  

    .type-picture {
      width: 140%;
      margin-top: 2%;
    }
    .about-diabetes-type {
      margin-top: 10%;
      margin-left: 8%;
      margin-right: 8%;
      width: 85%;
      float: left;
    }
    .about-diabetes-type ul{
      display: flex;
      list-style-type: none;
      list-style: none;
      
    }
    .about-diabetes-type ul li {
        font-size: xx-large; 
         
    }
    .type1-picture {
      width: 100%;
      margin-left: -2%;
      height: 370px;
      margin-top: 3%;
    }
    .about-diabetes-type-li {
      margin-left: 20%;
    }
    .about-diabetes-type1 {
      margin-top: 10%;
      margin-left: 8%;
      margin-right: 8%;
      width: 85%;
      float: left;
    }
    .about-diabetes-type1 ul{
      display: flex;
      list-style-type: none;
      list-style: none;
      
    }
    .about-diabetes-type1 ul li {
        font-size: xx-large; 
        width: 70%;   
    }
    .about-diabetes-type1-paragraph2 {
      width: 200%;
      height: 200px;
    }
    .about-diabetes-type-li {
      margin-left: 25%;
    }
    .about-diabetes-type2 {
      margin-top: 5%;
      margin-left: 8%;
      margin-right: 8%;
      width: 85%;
      float: left;
    }
    .about-diabetes-type2 ul{
      display: flex;
      list-style: none;
      
    }
    .type2-picture {
      width: 340%;
      height: 550px;
      margin-top: 8%;
    }
    .about-diabetes-type2-paragraph {
      width: 50%;
      font-size: xx-large; 
      margin-left: 51%;
      
    }
    .Gestational-Diabetes-picture {
      width: 110%;
      margin-top: 3%;
    }
    .about-diabetes-gestational {
      margin-top: 10%;
      margin-left: 8%;
      margin-right: 8%;
      width: 85%;
      float: left;
    }
    .about-diabetes-gestational ul{
      display: flex;
      list-style-type: none;
      list-style: none;
      
    }
    .about-diabetes-gestational ul li {
        font-size: xx-large; 
        width: 70%;   
    }
    .welcome-header {
      font-size: 50px;
      font-weight: bold;
      margin-top: 10%;
      margin-left: 5%;
      font-family: Arial, Helvetica, sans-serif;
      float: left;
      
    }
    .welcome-body {
      background-color: #FDF9F8;
      height: 1000px;
      display: flex;
      overflow: hidden;
      
    }
    .side-picture{
      margin-top: 10%;
      float: left;
      height: 550px;
      transform: rotate(19deg);
      border-radius: 10%;
      margin-left: 8%;
      margin-right: 10%;
    }
    .welcome-picture {
      display: inline-block;
      transform: rotate(-18deg);
      width: 150%;
      margin-top: -54%;
      margin-left: -17%;
      
    }
    .welcome-sentence {
      font-size: 35px;
      font-family: serif;
      color: gray;
      font-weight: normal;
    }
    .about-diabetes-body {
      background-color: #FDF9F8;
      height: 100%;
      
      overflow: hidden;
    }
    .about-us-body {
      background-color: #FDF9F8;
      height: 100%;
      
      overflow: hidden;
    }
    .about-diabetes-paragraph p {
      width: 100%;
    }
    
    .header {
      background:linear-gradient(to bottom,#DFAFAD,#FDF9F8);
      height: 150px; 
      position: relative;
      z-index: 0;
      
    }
    .logo {
      width: 250px;
      overflow: hidden;
      
    }
    .topBar ul li a{
        font-size: 300%; 
        text-decoration: none;
        color: #000;
    }
    
    .slider {
      margin-left: -12%;
        width: 30%;
        height: 90%;
        background:linear-gradient(to bottom,#DFAFAD,white);
        border-radius: 4px;
        position: absolute;
        left: 100px;
        bottom: 0;
        z-index: -1;
        transition: all ease, 0.4s;
        overflow: hidden;
    
    }
        
    li:nth-child(2):hover ~ .slider {
        left: 47%;
        width: 36%;
    }
      
    li:nth-child(3):hover ~ .slider {
        left: 85%;
    }
    .about-us-text  {
        margin-top: 5%;
        font-size: xx-large;
    }
    .about-us-main table {
      margin-left: 5%;
    }
    iframe {
      width: 900px;
      height: 500px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position:relative;
      overflow: hidden;
      margin-right: 80px;
      margin-top: 3%;
    }
      @keyframes waves {
        from {
          clip-path: polygon(
            0% 17%,
            9% 10%,
            18% 4%,
            30% 0%,
            43% 1%,
            49% 4%,
            57% 7%,
            66% 10%,
            78% 11%,
            89% 11%,
            96% 9%,
            100% 7%,
            100% 100%,
            0% 100%
          );
        }
        50% {
          clip-path: polygon(
            0% 4%,
            6% 9%,
            13% 13%,
            23% 15%,
            31% 16%,
            42% 15%,
            49% 13%,
            61% 10%,
            71% 5%,
            81% 3%,
            90% 2%,
            100% 5%,
            100% 100%,
            0% 100%
          );
        }
        to {
          clip-path: polygon(
            0% 17%,
            9% 10%,
            18% 4%,
            30% 0%,
            43% 1%,
            49% 4%,
            57% 7%,
            66% 10%,
            78% 11%,
            89% 11%,
            96% 9%,
            100% 7%,
            100% 100%,
            0% 100%
          );
        }
    }
} 



a {
  color: black;
  text-decoration: underline;
  font-weight: 800;
}

p {
    line-height: 190%;
}

h1 {
  margin-bottom: 2%;
}
b {
  font-family: 'Open Sans ExtraBold 800';
}


  
