<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel = "stylesheet" href = "/css/Dashboard.css" media = " all" />
    <link rel="icon" type="image/x-icon" href="/res/favicon.ico">
</head>
<body>
    <script type="text/javascript" src="/js/Dashboard.js"></script>

    {{{body}}}
</body>
</html>