<div class="main">
    <div class="header">
        <div class="logo">
            <a href="welcome">
                <img class="logo" src="/res/logo.png" alt="diabetes">
            </a>
        </div>
        <div class="topBar">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <ul>
                <li class="about-diabetes"><a href="aboutDiabetes">About diabetes</a></li>
                <li class="about-us"><a href="aboutThisWebsite">About this website</a></li>
                <li class="about"><a href="/login">Login</a></li>
                <div class="slider"></div>
            </ul>
        </div>
    </div>
    <div class="about-us-main">
        <div class="about-us-body">
            <div class="about-us-text">
                <h1 id="about-us" style="text-align: center;">About this website</h1>
                <p class="about-us-paragraph">
                    This website is designed to provide the most comprehensive and convenient help for people with
                    diabetes.
                    If you have been diagnosed with diabetes, or have the first symptoms of diabetes,
                    please let your doctor know to help you sign up for <b>Diabetes @Home</b>. If you already have
                    an account,
                    click <a href="/login">Login</a>.
                    We are committed to providing the most convenient, comprehensive, and accurate
                    diabetes support solutions, offering comprehensive help.
                </p>
                <h1 class="about-us-h1">Development Team</h1>
                <table style="height: 100%;width: 100%;" align="center">
                    <tr align="center">
                        <th>
                            <h2>Name</h2>
                        </th>
                        <th>
                            <h2>Email</h2>
                        </th>
                    </tr>
                    <tr align="center">
                        <td>Kaixi(Alex) Liu </td>
                        <td>liuka@student.unimelb.edu.au</td>
                    </tr>
                    <tr align="center">
                        <td>Lihui(Frankie) Hu</td>
                        <td>lihui@student.unimelb.edu.au</td>
                    </tr>
                    <tr align="center">
                        <td>Jincheng(Derex) Wang</td>
                        <td>jinchengw@student.unimelb.edu.au</td>
                    </tr>
                    <tr align="center">
                        <td>Yihang(Tony) Liu</td>
                        <td>yihang1@student.unimelb.edu.au</td>
                    </tr>
                    <tr align="center">
                        <td>Zhonghang(Michael) Gu</td>
                        <td>zhonghang@student.unimelb.edu.au</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>