<div>
    <form action="/changePassword" method="post">
        <ul>
            <li>
                <input type="text" value="userid" name="userid">
            </li>
            <li>
                <input type="text" value="password" name="oldpassword">
            </li>
            <li>
                <input type="text" value="password" name="newpassword">
            </li>
            <li>
                <button type="submit">update</button>
            </li>
        </ul>
    </form>
</div>