


<div class="comment">
        <ul>
            <li>test1</li>
            <li>test1</li>
            <li>test1</li>
            <li>test1</li>
            <li>test1</li>
            <li>test1</li>
            <li>test1</li>
            <li>test1</li>
            <li>test1</li>
            <li>test1</li>
        </ul>
    </div>
    <div class="view-comment">
        <div class="comment-header">
            <ul>
                <li class="comment-name">name</li>
                <li class="comment-data">data</li>
            </ul>
        </div>
        <div class="comment-detail">
            <ul>
                <li>this is very longgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg my comment</li>
                <li>this is my comment</li>
                <li>this is my comment</li>
                <li>this is my comment</li>
                <li>this is my comment</li>
                <li>this is my comment</li>
                <li>this is my comment</li>
                <li>this is my comment</li>
                <li>this is my comment</li>
                <li>this is my comment</li>
                <li>this is my comment</li>
            </ul>
                <hr>
            <ul>
                <li>this doctor comment</li>
            </ul>

        </div>

        <div class="enter-comment">
            <textarea class="comment-text" name="comment" id=""></textarea>
            <button class="clear-comment" id="submit" type="button" >clear</button>
            <button class="submit-comment" id="submit" type="button" >submit</button>
        </div>

    </div>
