<div class="main">
    <div>
        <div class="header">
            <div class="logo">
                <a href="/welcome"><img src="../res/logo.png" alt="logo"></a>
            </div>
        </div>
        <div class="side-pic-div">
            <img class="side-picture" src="../res/login.png" alt="picture">
        </div>
    </div>
    <div class="bottom">
        <form action="/login" method="post">
            <div class="login-content">
                <h1>Welcome back!</h1>
                <h2 class="identity">
                    I am a <input id="patient" type="button" name="patient" value="Patient"
                        onclick="identity_patient()" /> /
                    <input id="doctor" type="button" value="Clinicain" name="doctor" style="color: grey;"
                        onclick="identity_doctor()" />
                </h2>
                <ul>
                    <li> <input class="userID" name="username" type="text" id="username" placeholder="User id"></li>
                    <li> <input class="password" type="password" name="password" id="password" placeholder="Password"></li>
                    <li>
                        <label class="container">Show Password
                            <input type="checkbox" onclick="myFunction()">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                    <li><button class="change-password-btn" onclick="changePassword()"  type="button">Change your password</button></li>
                    <li><button id="login-box" type="button" onclick="validate()">Login</button></li>
                </ul>
            </div>
        </form>
    </div>
    <div class="change-password">
            <form action="/changePassword" method="post" onsubmit="return validation()">
                <div class="change-password-content" id = "change-password-content">
                    <h1>change your password</h1>
                    <ul>
                        <li> <input name="userID" class="change-userID" type="text" id="userID" placeholder="User id"></li>
                        <li> <input type="password" name="oldPassword" class="change-password" id="oldPassword" placeholder="Password"></li>
                        <li> <input type="password" name="newPassword" class="change-password" id="newPassword" placeholder="new password"></li>
                        <li> <input type="password" name="confirmPassword" class="change-password" id="confirmPassword" placeholder="confirm password"></li>
                        <li><button id="login-box" type="submit" >Update</button></li>
                        <li>
                            <div id="errorMessage" ,></div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="error-message"></p>
    </div>
</div>
<script>
    // the code below is for close alert box
    document.getElementsByClassName("close")[0].onclick = function () {
        document.getElementById("myModal").style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == document.getElementById("myModal")) {
            document.getElementById("myModal").style.display = "none";
        }
    }
    window.onload = function () {
        if(window.innerWidth < 400 && window.innerWidth > 300){
            document.getElementById('doctor').disabled = true;
            console.log(window.innerWidth)
        }
    }
</script>