<link rel="stylesheet" href="/css/passData.css">

{{#with patientInfo}}
<div class="main">
    <div class="header">
        <div>
            <img class="logo" src="/res/logo.png" alt="logo">
        </div>
        <a href="/login" class="logout">Log out</a>

    </div>
    <div class="pass-data">
        <div class="title">
            <a href="/data/{{this._id}}"><img class="back" src="/res/back.jpg" alt="backArrow"></a>
            <div class="big-title">Past Seven Days</div>
        </div>
        <ul class="pastData">
            {{#each_upto this.insulinTaken 7}}
            <li>
                <div class="data1">Insulin Taken:&nbsp;<div class="data1-number">{{this.value}}
                    </div> Dose(s)
                </div>
                <p class="date1">{{findLastDate this.time}}</p>
            </li>
            {{/each_upto}}
        </ul>
        <div class="graph">
            <div class="graph-title">Historical Data</div>
            <img class="graph-data" src="/res/dataGraph.png" alt="data-graph">
        </div>
    </div>
</div>
{{/with}}