<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel = "stylesheet" href = "../css/stylesheet.css" media = " all" />
    <link rel="icon" type="image/x-icon" href="../res/favicon.ico">
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="logo">
                <a href="welcome" title="logo">
                    <img class="logo" src="../res/logo.png" alt="diabetes">
                </a>
            </div>
            <div class="topBar">
                <input type="checkbox" />
                <span></span>
                <span></span>          
                <ul >        
                    <li class="about-diabetes"><a href="aboutDiabetes">About diabetes</a></li>
                    <li class="about-us" ><a href="aboutThisWebsite">About this website</a></li>
                    <li class="about" ><a href="">Login</a></li>
                    <div class="slider"></div>
                </ul>
            </div> 
        </div>
        <div class="welcome-body">
            <div class="welcome-header">  
                <p>Diabetes@home, the new way </p>
                <p>to help diabetes patient</p>
                <div class="welcome-sentence">
                    <p>
                        Patient do not need to go to the hospital to check the
                        condition, diabetes @home could care about your health at
                        any time, and help solve your problem at home
                    </p>
                </div>
            </div>
            <div class="side-picture">
                <span><img  class="welcome-picture" src="../res/wel_pic.png" alt="diabetes"></span>
            </div>
        </div>
    </div>
</body>
</html>