@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans ';
}

body{
    background-color:#FDF9F8;
}

.topBar{
    width:100%;
    height:90px;
    background:linear-gradient(to bottom,#DFAFAD,#FDF9F8);
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    display: flex;
    width:15%;
    align-items:center;
}

.logo img{
    width: 100%;
}

.logo + div{
    display: flex;
    flex-direction: row;
    justify-content:right; 
    align-items:center; /* set elements to the same altitude*/
    width:50%;
}

.topButton>a{
    font-size: 150%;
    text-decoration: none;
    color: #000;

}

.topButton{
    margin-right: 10%;
}

#clinicianName{
    font-size:350%;
    color: #a22929;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#sideBar{
    position: relative;
}

#triangle{
    width:50%;
}


#sideBar a{
    color: #000;
}

#sideBar p{
    margin-bottom: 7%;
}


.sideButton{
    position: absolute;
    width: 600%;
    top:90%;
    left:-550%;
    font-size: 30%;
    font-weight: normal;
    text-decoration: underline;
    text-align: right;
    z-index:9;
}

.line{
    height: 40%;
    margin-right:3%;
}

#tableTitle{
    text-align:center;
    font-weight: bold;
    font-size: 180%;
    margin-bottom:0px;
}

#tableTime{
    text-align:center;
    font-size: 130%;
    margin-top: 0px;
    margin-bottom:0px;
}

/* TODO: can't scroll*/
#dashboard{
    overflow-y: auto;
    height: 8px;
}

#dashboard>table, td, th{
    border: 1px solid black;
}

td,th{
    padding-top: 2%;
    padding-bottom:2%;
    position: relative;
    font-size: 130%;
}

#dashboard>table{    
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    position: absolute;
    left:10%;
    right:10%;
    margin:auto;
    table-layout:fixed;
    font-size: 120%;
}

#dashboard span{
    position:absolute;
    top:69%;
    left:53%;
    font-size: 60%;
    color: #707070;
    text-align: right;
    font-weight: normal !important;
    font-style: normal !important;
}

table {
    width: 100%;
    border-spacing: 0;
}

thead, tbody, tr, th, td { display: block; }


thead{
    width: 100%;
}

tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td, thead th {
    width: 19.87%; 
    float: left;
}


