@import url("https://fonts.googleapis.com/css2?family=Open+Sans");

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans ', sans-serif;
}
/* and (min-width: 300px) */
@media screen  and (max-width:400px) {

    .header {
        display: flex;
        background: linear-gradient(to bottom, #DFAFAD, #FDF9F8)
    }

    .logo {
        width: 150px;
    }

    .logout {
        position: absolute;
        left: 76%;
        top: 4%;
        border-radius: 25px;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
        background-color: #DFAFAD;
        color: white;
    }

    .big-title {
        position: absolute;
        font-size: 26px;
        font-weight: bold;
        left: 24%;
        top: 14%;
    }

    .back {
        position: absolute;
        width: 13%;
        left: 5%;
        top: 12.5%;
    }
    .pastData {
        list-style: none;
        display: block;
        position: absolute;
        width: 100%;
        height: 90%;
        
    }

    .pastData li {
        list-style: none;
        position: relative;
        display: block;
        width: 88%;
        height:6%;
        left: 2.5%;
        top: 11%;
        font-size: 15px;
        border: 1px solid grey;
        border-radius: 16px;
        margin: 3.5%;
    }
    
    
    .data1 {
        position: relative;
        left: 5%;
        top: 33%;
        width: 69%;
    }
    .data1-number {
        display: inline;
    }
    .date1 {
        position: relative;
        left: 75%;
        top: -1%;
        width: 8%;
    }
    .graph-title{
        font-size: 24px;
        font-weight: bold;
        position: absolute;
        top: 74%;
        left: 28%;

    }
    .graph-data{
        position: absolute;
        display: block;
        width: 85%;
        top: 79%;
        left: 8%;
    }



}

@media screen and (min-device-width: 400px) and (max-device-width: 1200px) {
    .header {
        display: flex;
        background: linear-gradient(to bottom, #DFAFAD, #FDF9F8);
        width: 100%;
        height: 125px;
    }

    .logo {
        position: absolute;
        width: 250px;
        left: 18px;

    }

    .body {
        height: 100%;
        width: 100%;
    }

    .logout {
        position: absolute;
        right: 5%;
        top: 6%;
        font-size: 26px;
        border-radius: 25px;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
        background-color: #DFAFAD;
        color: white;
    }

    .big-title {
        position: absolute;
        font-size: 35px;
        font-weight: bold;
        left: 36%;
        top: 22%;
    }

    .back {
        position: absolute;
        width: 7%;
        left: 5%;
        top: 20%;
    }

    .pastData {
        list-style: none;
        display: block;
        position: absolute;
        width: 100%;
        height: 80%;
        
    }

    .pastData li {
        list-style: none;
        position: relative;
        display: block;
        width: 42%;
        height:8%;
        left: 5%;
        top: 19%;
        font-size: 18px;
        border: 1px solid grey;
        border-radius: 18px;
        margin: 2%;
    }
    
    
    .data1 {
        position: relative;
        left: 5%;
        top: 33%;
        width: 69%;
    }
    .data1-number {
        display: inline;
    }
    .date1 {
        position: relative;
        left: 75%;
        top: -1%;
        width: 8%;
    }
    .graph-title{
        font-size: 24px;
        font-weight: bold;
        position: absolute;
        top: 36%;
        left: 67%;

    }
    .graph-data{
        position: absolute;
        display: block;
        width: 42%;
        top: 45%;
        left: 54%;
    }


}

@media screen and (min-width: 1200px) {
    body {
        height: 100%;
        width: 100%;
    }
    .header {
        display: flex;

        background: linear-gradient(to bottom, #DFAFAD, #FDF9F8);
        height: 200px;
    }
    .main-body {
        background-color: #FDF9F8;
        height: 100%;
        width: 100%;
        position: absolute;
        /* overflow: hidden; */
    }
    
    .logo {
        position: absolute;
        width: 350px;
        left: 25px;

    }

    .logout {
        position: absolute;
        left: 86.5%;
        top: 6%;
        width: 150px;
        height: 50px;
        font-size: 38px;
        text-align: center;
        border-radius: 18px;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        padding-left: 1%;
        padding-right: 1%;
        background-color: #DFAFAD;
        color: white;
    }

    .title{
        z-index: 0;
    }

    .big-title {
        position: absolute;
        font-size: 65px;
        font-weight: bold;
        left: 38%;
        top: 5%;
    }

    .back {
        position: absolute;
        width: 6%;
        left: 5%;
        top: 5%;
    }
    .pass-data{
        display: block;
        position: absolute;
        width: 100%;
        height: 80%;
        background-color: #FDF9F8;
    }
    .pastData{
        list-style: none;
        display: block;
        position: absolute;
        width: 100%;
        top:25%;
    }

    .pastData li {
        list-style: none;
        position: relative;
        display: block;
        width: 40%;
        height:9%;
        left: 6%;
        top: 16%;
        font-size: 28px;
        border: 1px solid grey;
        border-radius: 16px;
        margin: 1%;
    }
    
    
    .data1 {
        position: relative;
        left: 6%;
        top: 30%;
        width: 70%;
    }
    .data1-number {
        display: inline;
    }
    .date1 {
        position: relative;
        left: 78%;
        top: -3%;
        width: 8%;
    }
    .graph-title{
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        top: 25%;
        left: 62%;

    }
    .graph-data{
        position: absolute;
        display: block;
        width: 40%;
        top: 35%;
        left: 53%;
    }

}